In [1]:
#Q1#########
import re
text='Python Exercises,PHP exercises.'
output=re.sub("[ ,.]",":",text)
print(output)

Python:Exercises:PHP:exercises:

In [35]:
#Q2###########
import pandas as pd
data={'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}

In [67]:
def remove(data):
    remove_data=re.sub('[,.!;:|XXXXX|\d]',' ',data)
    return remove_data

In [68]:
df=pd.DataFrame(data)

In [69]:
df['SUMMARY']=df['SUMMARY'].apply(remove)

In [70]:
df

                  SUMMARY
0           hello  world
1                    test
2     four  five   six

In [78]:
#Q3#############
def find_out(data):
    pattern=re.compile(r'\w{4}')
    word=pattern.findall(data)
    return word

In [79]:
data="My Name is yash pareek and i live in delhi"

In [80]:
find_out(data)

['Name', 'yash', 'pare', 'live', 'delh']

In [93]:
#Q4############
def find(data1):
    pattern=re.compile(r'\b\w{3,5}\b')
    word=pattern.findall(data1)
    return word

In [94]:
data1="This is sample string given by me and now i am goind to check it"

In [95]:
find(data1)

['This', 'given', 'and', 'now', 'goind', 'check']

In [39]:
#Q5######
def remove_parentheses(strings):
    pattern = re.compile(r'[()]')  
    result_strings = []
    for string in strings:
        
        cleaned_str = re.sub(pattern, '', string)
        result_strings.append(cleaned_str.strip())  
    return result_strings


sample_text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

cleaned_str = remove_parentheses(sample_text)
print(cleaned_str)

['example .com', 'hr@fliprobo .com', 'github .com', 'Hello Data Science World', 'Data Scientist']

In [ ]:
#Q6#######

In [188]:
#7######
sample_text = "ImportanceOfRegularExpressionsInPython"
pattern = r'[A-Z][a-z]*'
result = re.findall(pattern, sample_text)
print(result)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [203]:
#Q8######
sample1='RegularExpression1IsAn2ImportantTopic3InPython'

In [208]:
def insert_space(sample1):
    result2=re.sub(r'[1,2,3]'," ",sample1)
    return result2

In [209]:
insert_space(sample1)

'RegularExpression IsAn ImportantTopic InPython'

In [99]:
#Q9######
def insert_spaces(text):
    pattern = r'(\d+)([A-Za-z]+)'
    result = re.sub(pattern, r'\1 \2', text)
    return result

In [100]:
text="RegularExpression1IsAn2ImportantTopic3InPython"
output=insert_spaces(text)
print(output)

RegularExpression1 IsAn2 ImportantTopic3 InPython

In [252]:
#Q10#####
import pandas as pd
data_link = "https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv"
df = pd.read_csv(data_link)
df['first_five_letters'] = df['Country'].str[:6]
print(df.head())

       Country          Region  Happiness Rank  Happiness Score  \
0  Switzerland  Western Europe               1            7.587
1      Iceland  Western Europe               2            7.561
2      Denmark  Western Europe               3            7.527
3       Norway  Western Europe               4            7.522
4       Canada   North America               5            7.427

   Standard Error  Economy (GDP per Capita)   Family  \
0         0.03411                   1.39651  1.34951
1         0.04884                   1.30232  1.40223
2         0.03328                   1.32548  1.36058
3         0.03880                   1.45900  1.33095
4         0.03553                   1.32629  1.32261

   Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
0                   0.94143  0.66557                        0.41978
1                   0.94784  0.62877                        0.14145
2                   0.87464  0.64938                        0.48357
3                   0.88521  0.66973                        0.36503
4                   0.90563  0.63297                        0.32957

   Generosity  Dystopia Residual first_five_letters
0     0.29678            2.51738             Switze
1     0.43630            2.70201             Icelan
2     0.34139            2.49204             Denmar
3     0.34699            2.46531             Norway
4     0.45811            2.45176             Canada

In [11]:
#Q11#########
def is_valid_string(input_string):
    pattern = r'^[a-zA-Z0-9_]+$'
    
    
    if re.match(pattern, input_string):
        return True
    else:
        return False

input_string1 = "Yash_Pareek123"
input_string2 = "Pubg_lover!"
input_string3 = "Python_learner456"

print(is_valid_string(input_string1)) 
print(is_valid_string(input_string2)) 
print(is_valid_string(input_string3))

True
False
True

In [ ]:
#Q12#########

In [13]:
#13######
ip_address=("104.342.09.01")
pattern=(r'[0]')
output=re.sub(pattern," ",ip_address)
print(output)

1 4.342. 9. 1

In [30]:
#Q14#######

In [43]:
#Q15#####
def search_words(text, words):
    found_words = []
    for word in words:
        if word in text:
            found_words.append(word)
    return found_words

sample_text = 'The quick brown fox jumps over the lazy dog.'
searched_words = ['fox', 'dog', 'horse']

found_words = search_words(sample_text, searched_words)

print(found_words)

['fox', 'dog']

In [62]:
#Q16#####
pattern = 'fox'
text = 'The quick brown fox jumps over the lazy dog.'
match = re.search(pattern, text)
y = match.start()
t = match.end()
print('Found "%s" in "%s" from %d to %d ' % \
    (match.re.pattern, text, y, t))

Found "fox" in "The quick brown fox jumps over the lazy dog." from 16 to 19

In [68]:
#Q17#########
text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
for match in re.findall(pattern, text):
    print('Found "%s"' % match)

Found "exercises"
Found "exercises"
Found "exercises"

In [67]:
#Q18#####
text = 'My name is yash pareek amd i am a data scientis,'
pattern = 'scientis'
for match in re.finditer(pattern, text):
    y = match.start()
    t= match.end()
    print('Found "%s" at %d:%d' % (text[y:t], y, t))

Found "scientis" at 39:47

In [79]:
#Q20######
def find_decimal_numbers(string):
    pattern = re.compile(r'\d+\.\d{1,2}')
    decimal_numbers = re.findall(pattern, string)
    return decimal_numbers

sample_text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
output = find_decimal_numbers(sample_text)
print(output)

['01.12', '0132.12', '2.31', '145.8', '3.01', '27.25', '0.25']

In [81]:
#21######
text = "i love to go gym and i can do 150kg benchpress"

for n in re.finditer("\d+", text):
    print(n.group(0))
    print("Index position:", n.start())

150
Index position: 30

In [82]:
- Write a regular expression in python program to extract maximum/largest numeric value from a string.
Sample Text: 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
Expected Output: 950

SyntaxError: invalid syntax (3203543175.py, line 1)

In [98]:
#Q22######
Sample_Text= 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
find_value=re.findall("\d+",Sample_Text)
find_value=[int(value)for value in find_value]
max_value=max(find_value)
print(max_value)

950

In [134]:
#Q23######

def spaces(Text):
    pattern = r'([A-Z][a-z]+)'
    result = re.sub(pattern, r' \1', Text)
    return result

In [135]:
Text1="RegularExpressionIsAnImportantTopicInPython"

In [136]:
spaces(Text1)

' Regular Expression Is An Important Topic In Python'

In [169]:
#Q24#######

def one_upper(text):
    pattern=(r'[A-Z]+[a-z]+$')
    if re.findall(pattern,text):
        return "found a match"
    else:
        print("not matched")

In [170]:
text2="Help"
text3="help"

In [171]:
one_upper(text2)

'found a match'

In [172]:
one_upper(text3)

not matched

In [ ]:
#Q25#####
Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.
Sample Text:"Hello hello world world"
Expected Output: Hello hello world

In [ ]:
Sample_Text="Hello hello world world"

In [177]:

pattern=(r'\b(\w+)(\s+\1\b)+')
result=re.sub(pattern,r'\1',Sample_Text)
print(result)

Hello hello world

In [4]:
#26######
def check_input(input_str):
    pattern = r'\w'
    if re.match(pattern, input_str):
        print("correct input: string ends with an alphanumeric character.")
    else:
        print("wrong input:string does not end with an alphanumeric character.")
user_input = input("Enter a string: ")
check_input(user_input)

Enter a string: yash123
correct input: String ends with an alphanumeric character.

In [14]:
#Q27########

text4=( """"RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by 
#Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo""")

In [17]:
def check_hashtag(text):
    hashtag=re.findall(r'#\w+',text4)
    return hashtag
hashtag=check_hashtag(text)

In [18]:
hashtag

['#Doltiwal', '#xyzabc', '#Demonetization']

In [22]:
#Q28#######
data2 = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who are protesting #demonetization are all different party leaders"

In [24]:
pattern=(r'<U\+\w{4}>')
result=re.sub(pattern,"",data2)
print(result)

@Jags123456 Bharat band on 28??<ed><ed>Those who are protesting #demonetization are all different party leaders

In [ ]:
#Q29#######

In [35]:
#Q30######
def remove_len(text):
    pattern=re.compile(r'\b\w{2,4}\b')
    lenth=re.sub(pattern,"",text5)
    return lenth

In [36]:
text5="The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

In [37]:
lenth=remove_len(text)

In [38]:
lenth

' following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.'